*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;;
}

/*style for header*/
.container{
    position: relative;
    text-align: center;
    color: #ffffff;
    max-height:445px;
    overflow: hidden;
}
.container img{
    width:100%;
    height:445px;
    filter: brightness(80%);
}
.centered{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered button{
    background-color: #3c3c3c;
    border:1px solid #ffffff;
    color:#ffffff;
    box-sizing: border-box;
    padding:20px 40px;
}
.centered p{
    line-height: 1.5;

}
@media only screen and (max-width:600px){
    .centered h1{
        font-size: 35px;
        margin-top: 50px;
    }
    .centered p{
        width:350px;
    }
}


/*style for content-1*/
.container-2{
    margin:20px 0px;
    padding:30px;
    align-items: center;
}
.sub-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sub-container h2{
    margin-top: -30px;
    font-weight: bold;
}
.text-container{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:20px;
}
.text-container span{
    display: inline;
    width:400px;
    margin-top:20px;
    line-height: 1.5;
    font-weight: bold;
}

@media only screen and (max-width: 885px) {
    .text-container{
        float: left;
        max-width:300px;
        display:block;  
        text-align:center;
    }
    .sub-container h2{
        width:300px;
        text-align:center;
    }
    .text-container span{
        display: inline;
        width:300px;
        padding: 0px;
    }
}

/*style for cards*/
.row{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow:hidden;
    justify-content: center;
    width: 100%;
    background-color: #3c3c3c;
    padding: 30px;
}
  
.column{
    margin:10px 10px;
}
.card {
    background: #ffffff 0% 0% no-repeat padding-box;
    color:#000000;
    width:300px;
    height: 500px;
  }
.card img{
    width:100%;
    display:block;
    height: auto;
    object-fit: cover;
}
.card h4{
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    padding: 30px;
}
.card p{
    line-height: 1.5;
    text-align: center;
    font-size:0.9em;
    padding:15px;
}

/*style for content-2*/
.content-2{
    padding:60px;
    background-color: #f0f0f0;
}
.content-2 h4{
    text-align: center;
    font-size: 23px;
    font-weight:bold;
    padding:30px;
}
.content-2 p{
    text-align: center;
    line-height: 1.5;
    padding:5px;
    
}

/* style for contact and about */
.duo{
    display: flex;
}
.box{
    width:100vw;
    display: flex;
    justify-content:space-around;
    background-color:cadetblue;
    padding:65px;
    color:#ffffff;
}

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 85%;
}

.about{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.contact,.about + h4,p,span{
    padding:14px;
    line-height: 1.5;
}

.contact + .about, h4{
    font-size: 25px;
    margin-bottom: 20px;
}

.back{
    background-color: #3491d4;
}

.back-2{
    background-color: #333333;
}
@media only screen and (max-width:1000px){
    .duo{
        flex-wrap:wrap;
    }
}

/*Style for footer*/
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 30px;
   
}
.footer-1{
    color:#ffffff;
}

.footer-2{
    color:#ffffff;
}

.footer-2 span{
    color:#1E90FF;
    padding:3px;
} 

@media only screen and (max-width:600px){
    .footer{
        flex-direction: column;
        align-items: center;
        padding:45px;
    }
    .footer p{
        padding: 4px;
    }
    .footer span{
        padding: 0px;
    }
}